#flgf-root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flgf-has-listener .icon > div {
  cursor: pointer;
}

.flgf--disabled {
  filter: opacity(0.5);
  & .item__controls .button {
    cursor: default !important;
    pointer-events: none;
  }
}

.flgf__reserve-display {
  font-family: Roboto;
  font-weight: bold;
  position: absolute;
  bottom: .25rem;
  right: .5rem;
}

.flgf__wealth-and-target {
  display: table;
  font-weight: 700;
}

.flgf__total-wealth,
.flgf__to-target {
  display: table-row;
}

.flgf__label {
  display: table-cell;
  padding-right: .5rem;
}

.flgf__value {
  display: table-cell;
}

.flgf__update-button.flgf__update-button {
  display: table-cell;
  padding-left: .5rem;
}