#flgf-root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flgf-has-listener .icon > div {
  cursor: pointer;
}

.flgf--disabled {
  filter: opacity(0.5);
  & .item__controls .button {
    cursor: default !important;
    pointer-events: none;
  }
}

.flgf__reserve-display {
  font-family: Roboto;
  font-weight: bold;
  position: absolute;
  bottom: .25rem;
  right: .5rem;
}